<template>
  <v-dialog width="500px" v-model="modal">
    <template v-slot:activator="{ on }">
      <v-btn class="primary ml-3" v-on="on">Buy</v-btn>
    </template>
    <v-card>
      <v-container>
        <v-layout row>
          <v-flex xs12>
            <v-card-title>
              <h1 class="text-primary">Do you wan't ti buy it?</h1>
            </v-card-title>
          </v-flex>
        </v-layout>
        <v-divider></v-divider>
        <v-layout row>
          <v-flex xs12>
            <v-card-text>
              <v-text-field v-model="name" label="Your name" name="name" type="text" />
              <v-text-field v-model="phone" multi-line label="Your phone" name="phone" type="text" />
            </v-card-text>
          </v-flex>
        </v-layout>
        <v-divider></v-divider>
        <v-layout row>
          <v-flex xs12>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn @click="onCansel" class="warning" :disabled="localLoading">Close</v-btn>
              <v-btn @click="onSave" class="success" :disabled="localLoading" :loading="localLoading">Buy it!</v-btn>
            </v-card-actions>
          </v-flex>
        </v-layout>
      </v-container>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  props: ['ad'],
  data() {
    return {
      modal: false,
      on: false,
      name: '',
      phone: '',
      localLoading: false,
    };
  },
  methods: {
    onCansel() {
      this.name = '';
      this.phone = '';
      this.modal = false;
    },
    onSave() {
      if (this.name != '' && this.phone != '') {
        this.localLoading = true;
        this.$store
          .dispatch('createOrder', {
            name: this.name,
            phone: this.phone,
            adId: this.ad.id,
            ownerId: this.ad.ownerId,
          })
          .finally(() => {
            this.name = '';
            this.phone = '';
            this.localLoading = false;
            this.modal = false;
          });

        this.modal = false;
      }
    },
  },
};
</script>

<style></style>
