<template>
  <v-container>
    <v-layout row v-if="!loading && myAds.length !== 0">
      <v-flex xs12 sm6 offset-sm3>
        <h1 class="text--secondary mb-3">My ads</h1>

        <v-card v-for="ad in myAds" :key="ad.id" class="elevation-10 mb-3">
          <v-layout>
            <v-flex xs4>
              <v-list-item-avatar class="mt-0 mb-0" tile size="145" color="grey">
                <v-img :src="ad.imageSrc"></v-img>
              </v-list-item-avatar>
            </v-flex>
            <v-flex xs8>
              <v-list-item three-line>
                <v-list-item-content>
                  <v-list-item-title class="headline mb-1">{{ ad.title }}</v-list-item-title>
                  <v-list-item-subtitle>{{ ad.description }}</v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn class="info" :to="'/ad/' + ad.id">Open</v-btn>
              </v-card-actions>
            </v-flex>
          </v-layout>
        </v-card>
      </v-flex>
    </v-layout>
    <v-layout v-else-if="!loading && myAds.length === 0">
      <v-flex xs12 class="text-center">
        <h1 class="text--primary">You have no Ads</h1>
      </v-flex>
    </v-layout>
    <v-layout v-else-if="!loading && myAds.length === 0">
      <v-flex xs12 class="text-center">
        <v-progress-circular indeterminate :size="70" :width="4" color="purple"></v-progress-circular>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  data() {
    return {};
  },
  computed: {
    myAds() {
      return this.$store.getters.myAds;
    },
    loading() {
      return this.$store.getters.loading;
    },
  },
};
</script>

<style></style>
