<template>
  <v-container>
    <v-layout row>
      <v-flex xs12 sm6 offset-sm3>
        <h1 class="text--secondary mb-3">Create new ad</h1>
        <v-form ref="form" v-model="valid" validation mb-3>
          <v-text-field v-model="title" :rules="[(v) => !!v || 'title is required']" label="Ad title*" name="title" type="text" required />

          <v-text-field v-model="description" :rules="[(v) => !!v || 'Description is required']" id="password" label="Ad description" name="description" type="text" />
        </v-form>
        <v-layout mb-3>
          <v-flex xs12>
            <v-btn color="blue-grey" class="ma-2 white--text warning" @click="triggerUpload">
              Upload
              <v-icon right dark>mdi-cloud-upload</v-icon>
            </v-btn>
            <input ref="fileInput" type="file" name="" style="display:none" accept="image/*" id="" @change="onFileChange" />
          </v-flex>
        </v-layout>
        <v-layout row>
          <v-flex xs12>
            <img :src="imageSrc" height="100px" v-if="imageSrc" />
          </v-flex>
        </v-layout>
        <v-layout row>
          <v-flex xs12>
            <v-switch v-model="promo" label="Add to promo" color="primary"></v-switch>
          </v-flex>
        </v-layout>
        <v-layout row>
          <v-flex xs12>
            <v-spacer></v-spacer>
            <v-btn class="success" :loading="loading" :disabled="!valid || !image || loading" @click="createAd"> Create ad</v-btn>
          </v-flex>
        </v-layout>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  data() {
    return {
      title: '',
      description: '',
      promo: false,
      valid: false,
      image: null,
      imageSrc: '',
    };
  },
  computed: {
    loading() {
      return this.$store.getters.loading;
    },
  },
  methods: {
    createAd() {
      if (this.$refs.form.validate() && this.image) {
        const ad = {
          title: this.title,
          description: this.description,
          promo: this.promo,
          image: this.image,
        };
        this.$store.dispatch('createAd', ad).then(() => {
          this.$router.push('/list').catch(() => {});
        });
      }
    },
    triggerUpload() {
      this.$refs.fileInput.click();
    },
    onFileChange(event) {
      const file = event.target.files[0];

      const reader = new FileReader();
      reader.onload = () => {
        this.imageSrc = reader.result;
      };
      reader.readAsDataURL(file);
      this.image = file;
    },
  },
};
</script>

<style></style>
