<template>
  <v-app>
    <v-navigation-drawer app temporary v-model="drawer">
      <v-list>
        <v-list-item v-for="(link, index) in links" :key="index" :to="link.url">
          <v-list-item-icon>
            <v-icon>{{ link.icon }}</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title v-text="link.title"></v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item @click="onLogout" v-if="isUserLoggedIn">
          <v-list-item-icon>
            <v-icon>{{ icons.mdiLogout }}</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title v-text="'Logout'"></v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
    <v-app-bar dark dense color="primary" app>
      <v-app-bar-nav-icon @click="drawer = !drawer" class="hidden-md-and-up"></v-app-bar-nav-icon>

      <v-toolbar-title>
        <router-link to="/" tag="span" class="pointer">Ad application</router-link>
      </v-toolbar-title>

      <v-spacer></v-spacer>
      <v-toolbar-items color="primary" class="hidden-sm-and-down">
        <v-btn depressed color="primary" v-for="link in links" :key="link.title" :to="link.url">
          <v-icon left>{{ link.icon }}</v-icon>
          {{ link.title }}
        </v-btn>
        <v-btn v-if="isUserLoggedIn" depressed color="primary" @click="onLogout">
          <v-icon left>{{ icons.mdiLogout }}</v-icon
          >Logout
        </v-btn>
      </v-toolbar-items>
    </v-app-bar>
    <v-content>
      <router-view></router-view>
    </v-content>
    <template v-if="error">
      <v-snackbar color="error" :multi-line="true" :timeout="5000" @input="closeError" :value="true">
        {{ error }}
        <v-btn flat text dark @click.native="closeError">
          Close
        </v-btn>
      </v-snackbar>
    </template>
  </v-app>
</template>

<script>
import { mdiBug, mdiLogin, mdiBookmark, mdiFace, mdiNotePlus, mdiClipboardListOutline, mdiLogout } from '@mdi/js';
export default {
  name: 'App',
  data: () => ({
    icons: {
      mdiBug,
      mdiLogin,
      mdiLogout,
    },
    drawer: false,
  }),
  computed: {
    error() {
      return this.$store.getters.error;
    },
    isUserLoggedIn() {
      return this.$store.getters.isUserLoggedIn;
    },
    links() {
      if (this.isUserLoggedIn) {
        return [
          {
            title: 'Orders',
            icon: mdiBookmark,
            url: '/orders',
          },
          {
            title: 'New ad',
            icon: mdiNotePlus,
            url: '/new',
          },
          {
            title: 'My ads',
            icon: mdiClipboardListOutline,
            url: '/list',
          },
        ];
      } else {
        return [
          {
            title: 'Login',
            icon: mdiLogin,
            url: '/login',
          },
          {
            title: 'Registration',
            icon: mdiFace,
            url: '/registration',
          },
        ];
      }
    },
  },
  methods: {
    closeError() {
      this.$store.dispatch('clearError');
    },
    onLogout() {
      this.$store.dispatch('logoutUser');
      this.$router.push('/');
    },
  },
};
</script>

<style scoped>
.pointer {
  cursor: pointer;
}
</style>
