<template>
  <v-container class="fill-height" fluid>
    <v-row align="center" justify="center">
      <v-col cols="12" sm="8" md="6">
        <v-card class="elevation-12">
          <v-toolbar color="primary" dark>
            <v-toolbar-title>Login form</v-toolbar-title>
          </v-toolbar>
          <v-card-text>
            <v-form ref="form" v-model="valid" validation>
              <v-text-field v-model="email" :rules="emailRules" label="Email" name="email" :prepend-icon="icons.mdiAccount" type="email" />

              <v-text-field v-model="password" :rules="passwordRules" :counter="6" id="password" label="Password" name="password" :prepend-icon="icons.mdiLock" type="password" />
            </v-form>
          </v-card-text>
          <v-card-actions>
            <v-spacer />
            <v-btn :disabled="!valid" @click="onSubmit" color="primary" :loading="loading">Login</v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import { mdiAccount, mdiLock } from '@mdi/js';
export default {
  data() {
    return {
      icons: {
        mdiAccount,
        mdiLock,
      },
      email: '',
      password: '',
      valid: false,
      emailRules: [(v) => !!v || 'E-mail is required', (v) => /.+@.+\..+/.test(v) || 'E-mail must be valid'],
      passwordRules: [(v) => !!v || 'Password is required', (v) => (v && v.length >= 6) || 'Password must be equal or more than 6 characters'],
    };
  },
  computed: {
    loading() {
      return this.$store.getters.loading;
    },
  },
  methods: {
    onSubmit() {
      if (this.$refs.form.validate()) {
        const user = {
          email: this.email,
          password: this.password,
        };
        //eslint-disable-next-line no-console
        this.$store
          .dispatch('loginUser', user)
          .then(() => {
            this.$router.push('/');
          })
          .catch(() => {});
      }
    },
  },
  created() {
    if (this.$route.query['loginError']) {
      this.$store.dispatch('setError', 'Please log in to access this page.');
    }
  },
};
</script>

<style></style>
